In [ ]:
print ('hello world')

In [59]:
import pandas as pd
import csv
url = "https://github.com/bgli/kbbi-qt/blob/master/data-src/kbbi_data.csv"
data_kbbi = pd.read_csv('data_kata.csv')
kbbi = data_kbbi[['lema']]
kbbi

                        lema
0                     #NAME?
1                     #NAME?
2                     #NAME?
3                     #NAME?
4                       -el-
5                       -em-
6                       -er-
7                     #NAME?
8                     #NAME?
9                     #NAME?
10                    #NAME?
11                    #NAME?
12                    #NAME?
13                    #NAME?
14                    #NAME?
15                    #NAME?
16                    #NAME?
17                    #NAME?
18                    #NAME?
19                    #NAME?
20                    #NAME?
21                    #NAME?
22                    #NAME?
23                    #NAME?
24                    #NAME?
25                    #NAME?
26                         A
27                        a-
28                        ab
29                       ab-
...                      ...
72223             zona fotik
72224           zona litoral
72225            zona netral
72226      zona pasang surut
72227        zona preservasi
72228                 zonasi
72229  zonasi taman nasional
72230                 zonder
72231                   zone
72232                 zoofit
72233               zoofobia
72234                zoogani
72235            zoogeografi
72236                zoologi
72237               zoonosis
72238           zoosemiotika
72239                 zuadah
72240                  zuama
72241                 Zuhara
72242                  zuhud
72243                  zuhur
72244               zulfikar
72245               Zulhijah
72246              Zulkaidah
72247                 zulmat
72248                   zulu
72249                zurafah
72250                 zuriah
72251                 zuriat
72252                    zus

[72253 rows x 1 columns]

In [43]:
array_kbbi =[]
array_kbbi.append(kbbi)
print(array_kbbi)

[                        lema
0                     #NAME?
1                     #NAME?
2                     #NAME?
3                     #NAME?
4                       -el-
5                       -em-
6                       -er-
7                     #NAME?
8                     #NAME?
9                     #NAME?
10                    #NAME?
11                    #NAME?
12                    #NAME?
13                    #NAME?
14                    #NAME?
15                    #NAME?
16                    #NAME?
17                    #NAME?
18                    #NAME?
19                    #NAME?
20                    #NAME?
21                    #NAME?
22                    #NAME?
23                    #NAME?
24                    #NAME?
25                    #NAME?
26                         A
27                        a-
28                        ab
29                       ab-
...                      ...
72223             zona fotik
72224           zona litoral
72225            zona netral
72226      zona pasang surut
72227        zona preservasi
72228                 zonasi
72229  zonasi taman nasional
72230                 zonder
72231                   zone
72232                 zoofit
72233               zoofobia
72234                zoogani
72235            zoogeografi
72236                zoologi
72237               zoonosis
72238           zoosemiotika
72239                 zuadah
72240                  zuama
72241                 Zuhara
72242                  zuhud
72243                  zuhur
72244               zulfikar
72245               Zulhijah
72246              Zulkaidah
72247                 zulmat
72248                   zulu
72249                zurafah
72250                 zuriah
72251                 zuriat
72252                    zus

[72253 rows x 1 columns]]

In [8]:
import re

def tokenize(text):
    text = text.lower()
    text = re.compile(u"[^\w\n]|\xe2", re.UNICODE).sub(" ", text)
    text = text.split()
    return text

In [45]:
kalimat = input('Masukkan kalimat : ')
array_kalimat = []
proseskalimat = "''\''"+kalimat
array_kalimat = tokenize(proseskalimat)

Masukkan kalimat : aku adlaah hwhwhw

In [19]:
print(array_kalimat)

['aku', 'adalah', 'awakkwakwk']

In [48]:
tak_baku =[]
trigger_kata = 0
counter_tabaku = 0
for kata in array_kalimat:
    for baku in array_kbbi:
        print(kata,baku)
    if trigger_kata > 0:
        counter_tabaku += 1
        tak_baku.append(kata)

        
print(tak_baku)

aku                         lema
0                     #NAME?
1                     #NAME?
2                     #NAME?
3                     #NAME?
4                       -el-
5                       -em-
6                       -er-
7                     #NAME?
8                     #NAME?
9                     #NAME?
10                    #NAME?
11                    #NAME?
12                    #NAME?
13                    #NAME?
14                    #NAME?
15                    #NAME?
16                    #NAME?
17                    #NAME?
18                    #NAME?
19                    #NAME?
20                    #NAME?
21                    #NAME?
22                    #NAME?
23                    #NAME?
24                    #NAME?
25                    #NAME?
26                         A
27                        a-
28                        ab
29                       ab-
...                      ...
72223             zona fotik
72224           zona litoral
72225            zona netral
72226      zona pasang surut
72227        zona preservasi
72228                 zonasi
72229  zonasi taman nasional
72230                 zonder
72231                   zone
72232                 zoofit
72233               zoofobia
72234                zoogani
72235            zoogeografi
72236                zoologi
72237               zoonosis
72238           zoosemiotika
72239                 zuadah
72240                  zuama
72241                 Zuhara
72242                  zuhud
72243                  zuhur
72244               zulfikar
72245               Zulhijah
72246              Zulkaidah
72247                 zulmat
72248                   zulu
72249                zurafah
72250                 zuriah
72251                 zuriat
72252                    zus

[72253 rows x 1 columns]
adlaah                         lema
0                     #NAME?
1                     #NAME?
2                     #NAME?
3                     #NAME?
4                       -el-
5                       -em-
6                       -er-
7                     #NAME?
8                     #NAME?
9                     #NAME?
10                    #NAME?
11                    #NAME?
12                    #NAME?
13                    #NAME?
14                    #NAME?
15                    #NAME?
16                    #NAME?
17                    #NAME?
18                    #NAME?
19                    #NAME?
20                    #NAME?
21                    #NAME?
22                    #NAME?
23                    #NAME?
24                    #NAME?
25                    #NAME?
26                         A
27                        a-
28                        ab
29                       ab-
...                      ...
72223             zona fotik
72224           zona litoral
72225            zona netral
72226      zona pasang surut
72227        zona preservasi
72228                 zonasi
72229  zonasi taman nasional
72230                 zonder
72231                   zone
72232                 zoofit
72233               zoofobia
72234                zoogani
72235            zoogeografi
72236                zoologi
72237               zoonosis
72238           zoosemiotika
72239                 zuadah
72240                  zuama
72241                 Zuhara
72242                  zuhud
72243                  zuhur
72244               zulfikar
72245               Zulhijah
72246              Zulkaidah
72247                 zulmat
72248                   zulu
72249                zurafah
72250                 zuriah
72251                 zuriat
72252                    zus

[72253 rows x 1 columns]
hwhwhw                         lema
0                     #NAME?
1                     #NAME?
2                     #NAME?
3                     #NAME?
4                       -el-
5                       -em-
6                       -er-
7                     #NAME?
8                     #NAME?
9                     #NAME?
10                    #NAME?
11                    #NAME?
12                    #NAME?
13                    #NAME?
14                    #NAME?
15                    #NAME?
16                    #NAME?
17                    #NAME?
18                    #NAME?
19                    #NAME?
20                    #NAME?
21                    #NAME?
22                    #NAME?
23                    #NAME?
24                    #NAME?
25                    #NAME?
26                         A
27                        a-
28                        ab
29                       ab-
...                      ...
72223             zona fotik
72224           zona litoral
72225            zona netral
72226      zona pasang surut
72227        zona preservasi
72228                 zonasi
72229  zonasi taman nasional
72230                 zonder
72231                   zone
72232                 zoofit
72233               zoofobia
72234                zoogani
72235            zoogeografi
72236                zoologi
72237               zoonosis
72238           zoosemiotika
72239                 zuadah
72240                  zuama
72241                 Zuhara
72242                  zuhud
72243                  zuhur
72244               zulfikar
72245               Zulhijah
72246              Zulkaidah
72247                 zulmat
72248                   zulu
72249                zurafah
72250                 zuriah
72251                 zuriat
72252                    zus

[72253 rows x 1 columns]
[]

In [15]:
a = 0
a += 1
a

1